In [3]:
%matplotlib inline
import os
import pandas as pd

PROJECT_PATH = "/home/ml/project/bitcoin"
CSV_FILE_NAME= "data/order.csv"

def load_csv_data(project_path=PROJECT_PATH, csv_file=CSV_FILE_NAME):
    csv_path = os.path.join(project_path, csv_file)
    return pd.read_csv(csv_path, sep='\t')



data = load_csv_data()
data.tail()

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
5455,5571,1,50,1498680462302,0.199868,0.010821,0.000102,0.000102,0.03350,0.541075,VTC,0.001122
5456,3955,1,50,1498680314005,0.149897,0.013998,0.000130,0.000100,0.03215,0.699903,EXP,0.001034
5457,4085,1,50,1498680325024,0.149897,0.013998,0.000130,0.000100,0.03215,0.699903,EXP,0.001034
5458,4215,1,50,1498680336259,0.149897,0.013998,0.000130,0.000100,0.03215,0.699903,EXP,0.001034
5459,3832,1,50,1498680302620,0.149897,0.013999,0.000130,0.000100,0.03215,0.699950,EXP,0.001034

In [7]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

def normilaze_transform(data=data):
    encoder = LabelEncoder()
    symbol_cat = data["SYMBOL"]
    symbol_encoded = encoder.fit_transform(symbol_cat)
    return symbol_encoded

symbol_encoded = normilaze_transform()

data_encoded_values = data.values
symbol_index = data.columns.get_loc("SYMBOL")
data_encoded_values[:,symbol_index] = symbol_encoded
print data_encoded_values
data_transform = pd.DataFrame(data=data_encoded_values,columns=data.columns.values)
data_transform.set_index('ID', inplace=True)
data_transform.head()

[[6202 0 50 ..., 256171.315423233 6 112076664.153495]
 [6332 0 50 ..., 260133.34900181898 6 111979606.780169]
 [5942 0 50 ..., 217399.300554976 6 100074496.100915]
 ...,
 [4085 1 50 ..., 0.6999026239615589 19 0.0010336442370689999]
 [4215 1 50 ..., 0.6999026239615589 19 0.0010336442370689999]
 [3832 1 50 ..., 0.699949512588349 19 0.001033617894952]]

,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
ID,,,,,,,,,,,
6202,0,50,1498680519984,52074.3,5123.43,738.593,0.2482,10586.6,256171,6,1.12077e+08
6332,0,50,1498680531988,52074.3,5202.67,738.593,0.2482,10582,260133,6,1.1198e+08
5942,0,50,1498680497533,52074.3,4347.99,287.775,0.2482,10003.7,217399,6,1.00074e+08
2559,1,50,1498680185716,52615.4,4163.33,157.821,0.275839,9970.46,208167,6,9.94101e+07
7762,0,50,1498680661762,52074.3,4754.47,738.593,0.2482,9914.69,237723,6,9.83012e+07

In [8]:
def save_csv_data(project_path=PROJECT_PATH, csv_file=CSV_FILE_NAME, data_transform=data_transform):
    csv_path = os.path.join(project_path, csv_file)
    data_transform.to_csv(csv_path)

save_csv_data(PROJECT_PATH,"data/order_transformed.csv",data_transform)